<body>
  <div class="dropdown landing">
    <button class="dropbtn" id="landingbtn">Change Language ↓</button>
    <div class="landing-content">
      <a href="landing.html">English</a>
      <a href="landingAr.html">العربية</a>
    </div>
  </div>
