<nav>
   <div class="link">
     <a href="generalGuidelines.html" id="a_games">Games</a>
     <a href="traits.html" id="a_traits">Traits</a>
     <a href="degree.html" id="a_degree">Degree</a>
   </div>
   <div class="userEn">
     <span>Hello, user</span>
   </div>
   <div class="dropdown">
     <button class="dropbtn">Language</button>
     <div class="dropdown-content">
       <a href="degree.html">English</a>
       <a href="degreeAr.html">العربية</a>
     </div>
   </div>
 </nav>


<!-- <link rel="stylesheet" href="./result.css"> -->
<!-- <link rel="stylesheet" href="dropDown.css"> -->
