<!DOCTYPE html>
<html>

<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" href="css/dropDown.css">
<link rel="stylesheet" href="css/navBar.css">
<link rel="stylesheet" href="css/result.css">
{{>navBar}}

<body>
  {{{body}}}
</body>
</script>

</html>
