<!DOCTYPE html>
<html>

<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/dropDown.css">
<link rel="stylesheet" href="css/navBar.css">
<link rel="stylesheet" href="css/traits.css">
{{>navBar}}

<body>
  {{{body}}}
</body>
<script src="js/traits.js"></script>

</html>
